<ion-header>
  <ion-toolbar>
    <ion-title>
      QRコードシェアサンプル
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="btnShare" (click)="share()">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="grpTxtBtn">
    <ion-input [(ngModel)]="qrtext"></ion-input>
    <ion-button id="btnDisp" (click)="disp()">表示</ion-button>
  </div>
  <!------- QRコード ------->
  <div id="QR">
    <div id="canvas"></div>
  </div>
  <!------- QRコード ------->
</ion-content>
